
<!DOCTYPE html>
<html>
    <head>
        <title>ERROR</title>
        <link rel="icon" href="/img/weatherlogo.jpg"> 
        <script src="/js/app.js">

        </script>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <h2 style="color:red;">404 ERROR</h2>
         <div class="mainContent">{{>header}}
            {{>error}}
         </div>
         {{>footer}}
         
    </body>
</html>