<!DOCTYPE html>
<html>
    <head>
        <script src="/js/app.js">
        </script>
        <title>ABOUT</title>
                <link rel="icon" href="/img/weatherlogo.jpg"> 

        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="mainContent">{{>header}}</div>
         <p>This is a wather application which can be used to find the weather of any place</p>
         {{>footer}}
         
    </body>
</html>