<!DOCTYPE html>
<html>
    <head>
        <title>HELPS</title>
        <script src="/js/app.js">

        </script>
                <link rel="icon" href="/img/weatherlogo.jpg"> 

        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="mainContent"> 
        {{>header}}

        <p>FOR HELP CONTACT +91 1234567890</p>
        </div>


        {{>footer}}
        
    </body>
</html>